<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login-Screen - Hollow Major Giraffe</title>
    <meta property="og:title" content="Login-Screen - Hollow Major Giraffe" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div>
      <link href="./login-screen.css" rel="stylesheet" />

      <div class="login-screen-container">
        <img
          src="public/playground_assets/screen%20shot%202022-12-07%20at%2011.07.17%20pm-200h.png"
          alt="image"
          class="login-screen-image"
        />
        <img
          alt="image"
          src="public/playground_assets/screen%20shot%202022-12-07%20at%2011.07.17%20pm-200h.png"
          class="login-screen-image1"
        />
        <img
          alt="image"
          src="public/playground_assets/screen%20shot%202022-12-07%20at%2011.07.17%20pm-200h.png"
          class="login-screen-image2"
        />
        <img
          alt="image"
          src="public/playground_assets/screen%20shot%202022-12-07%20at%2011.07.17%20pm-200h.png"
          class="login-screen-image3"
        />
        <img
          alt="image"
          src="public/playground_assets/screen%20shot%202022-12-07%20at%2011.07.17%20pm-200h.png"
          class="login-screen-image4"
        />
        <img
          alt="image"
          src="public/playground_assets/screen%20shot%202022-12-07%20at%2011.07.17%20pm-200h.png"
          class="login-screen-image5"
        />
        <img
          alt="image"
          src="public/playground_assets/screen%20shot%202022-12-07%20at%2011.07.17%20pm-200h.png"
          class="login-screen-image6"
        />
        <img
          alt="image"
          src="public/playground_assets/screen%20shot%202022-12-07%20at%2011.07.17%20pm-200h.png"
          class="login-screen-image7"
        />
        <svg viewBox="0 0 658.2857142857142 1024" class="login-screen-icon">
          <path
            d="M182.857 438.857h292.571v-109.714c0-80.571-65.714-146.286-146.286-146.286s-146.286 65.714-146.286 146.286v109.714zM658.286 493.714v329.143c0 30.286-24.571 54.857-54.857 54.857h-548.571c-30.286 0-54.857-24.571-54.857-54.857v-329.143c0-30.286 24.571-54.857 54.857-54.857h18.286v-109.714c0-140.571 115.429-256 256-256s256 115.429 256 256v109.714h18.286c30.286 0 54.857 24.571 54.857 54.857z"
          ></path>
        </svg>
        <form action = "/login-screen" method = "post">
          <!-- <label for = "username-field">username</label> -->
        <input
          type="text"
          id = "username"
          name = "username"
          placeholder="username"
          class="login-screen-textinput input"
        />
        <!-- <label for ="password-field">password</label> -->
        <input
          type="text"
          id = "password"
          name = "password"
          placeholder="password"
          class="login-screen-textinput1 input"
        />
      <!-- </form>
        <form action = "/login-screen" method="post" class="login-screen-navlink"> -->
          <div class="component1-container component1-root-class-name">
            <button class="component1-button button">
              <span>
                <span>Login</span>
                <br />
              </span>
            </button>
          </div>
        </form>
        <form action = "/user-creation-screen" class="login-screen-navlink1">
          <div class="component4-container component4-root-class-name">
            <button class="component4-button button">
              <span>Create an account</span>
            </button>
          </div>
        </form>
        <span class="login-screen-text">Or</span>
      </div>
    </div>
  </body>
</html>
