.user-creation-screen-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-image: linear-gradient(90deg, rgb(241, 242, 181) 0.00%,rgb(238, 72, 191) 100.00%);
}
.user-creation-screen-text {
  color: #ffffff;
  width: 508px;
  height: 66px;
  font-size: 50px;
}
.user-creation-screen-text1 {
  top: 146px;
  left: 399px;
  color: rgb(255, 255, 255);
  position: absolute;
}
.user-creation-screen-text2 {
  color: rgb(255, 255, 255);
}
.user-creation-screen-input {
  width: 302px;
  height: 37px;
}
.user-creation-screen-textinput {
  top: 187px;
  left: 451px;
  width: 308px;
  height: 36px;
  position: absolute;
}
.user-creation-screen-textinput1 {
  top: 370px;
  left: 455px;
  width: 307px;
  height: 38px;
  position: absolute;
}
.user-creation-screen-textinput2 {
  top: 139px;
  left: 464px;
  position: absolute;
}
