.component-container {
  display: flex;
  position: relative;
}
.component-button {
  height: 0px;
  position: relative;
  font-size: 10px;
  font-family: Fira Sans;
  line-height: 0.1;
  text-transform: capitalize;
}
.component-root-class-name {
  top: 346px;
  left: 572px;
  width: auto;
  position: absolute;
}
