.app-component-container {
  display: flex;
  position: relative;
}
.app-component-button {
  height: 0px;
  position: relative;
  font-size: 10px;
  font-family: Fira Sans;
  line-height: 0.1;
  text-transform: capitalize;
}
.app-component-root-class-name {
  top: 346px;
  left: 572px;
  width: auto;
  position: absolute;
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  border-color: rgba(0, 0, 0, 0);
  border-style: dotted;
  border-width: 1px;
  flex-direction: column;
  justify-content: flex-start;
}
.home-image {
  top: 49px;
  left: 543px;
  width: 115px;
  height: 114px;
  position: absolute;
  object-fit: cover;
}
.home-icon {
  top: 246px;
  left: 538px;
  width: 128px;
  height: 112px;
  position: absolute;
  align-self: center;
}
.home-navlink {
  display: contents;
}
.home-component {
  text-decoration: none;
}
.home-text {
  top: 7px;
  left: 481px;
  position: absolute;
}
